extend includes/base
block title
	| title
block vars
	- var bodyClass = 'single'
block content 
	include includes/header
	.wrapper
		.head_block_wrapp.head_home
			.container
				.flex-wrapper.wrapper__head_block
					.head_block
						h1
							span.label Курс повышения квалификации 
							br
							| Современное делопроизводство для секретаря-помощника руководителя и офис менеджера

						p Программа семинара составлена в соответствии с профессиональным стандартом «Специалист по организационному и документационному обеспечению управления организацией», утвержденным Приказом Минтруда России от 6 мая 2015 года № 276 н .

						
						h3.dates Ближайшие даты: 
							span.current_date 29.05-31.05.2017 
							span.other_dates 7.06-29.06.2017    
							span.other_dates 29.08-31.08.2017
						
						a.button Подробнее о курсе 
						a.button.active Ознакомиться с ценами
					.form-block
						form.form_wrapper.form_wrapper_column
							h4 Записаться на курс
							input.form__input(type='text' placeholder='Ваше имя')
							input.form__input(type='text' placeholder='Ваше имя')
							input.form__input(type='text' placeholder='Ваше имя')
							input.form__submit(type='submit' value='Отправить')
		.information_block_wrapp.grey_section
			.container
				.flex-wrapper
					-
						var info = [
							{
								main: {
									days: '3 дня',
									dates: ['29.05-31.05.2017','27.06-29.06.2017','29.08-31.08.2017'],
									map: 'Москва, м. Новокузнецкая, Садовническая ул., 5',
									doc: 'Сертификат',
									cost: 'от 19855 руб/чел.'
								},
								usefulness: [
									'Ознакомиться с нормативно-правовой базой, регламентирующей порядок разработки и применения профессиональных стандартов',
									'Изучить структуру профессиональных стандартов',
									'Уметь грамотно проводить оценку квалификации персонала на основе требований профессионального стандарта',
									'Научиться выстраивать систему обучения персонала в соответствии с профессиональными стандартами',
									'Изучить требования к кадровому делопроизводству в связи с профстандартами и получить алгоритм внедрения изменений в локальные нормативные акты',
									'Овладеть навыками составления должностных инструкций на основе профстандарта',
									'Получить навыки использования профстандарта при подборе персонала'
								],
								for_whom: {
									name: '“Документооборот и архив.  Современные технологии автоматизации,управление эффективностью”',
									items: [
										'Руководитель или специалист архивной службы',
										'Руководитель или специалист служб ДОУ',
										'Работник канцелярии, архива, секретариата',
										'Архивариус',
										'Помощник руководителя или ассистент отдела, отвечающий за организацию и ведение документооборота',
										'Просто заинтересованный специалист'
									]
								},
								program: [
									{
										header: 'Маркетинговые исследования -  основные термины и показатели',
										items: [
											'Маркетинговые исследования – понятие, цели, задачи',
											'Процесс маркетинговых исследований',
											'Первичные и вторичные данные',
											'Правильная постановка задач при формировании брифа на разработку маркетингового исследования',
											'Практическое задание: разбор брифа на маркетинговое исследование'
										]
									},
									{
										header: 'Методы маркетинговых исследований'
										
									},
									{
										header: 'Качественные методы исследований',
										items: [
											'Фокус-группа – особенности метода, преимущества и недостатки, правила проведения исследования, компетенции интервьюера, методы получения информации на фокус-группах',
											'Практическое задание: как правильно провести фокус-группу, обсуждение Discussion guide',
											'Диада и глубинное интервью - особенности, преимущества и недостатки'
										]
									},
									{
										header: 'Количественные методы исследования',
										items: [
											'Опрос и онлайн-опрос – особенности методов, преимущества и недостатки, правила проведения исследования, компетенции интервьюера',
											'Практическое задание: как правильно провести опрос, обсуждение брифа и анкеты',
											'Наблюдение и эксперимент - особенности, преимущества и недостатки',
											'Холл-тест: особенности проведения, задачи, способ проведения'
										]
									},
									{
										header: 'Исследование потребителей',
										items: [
											'Usage and Attitude (U&A) – цели, задачи и результаты исследования, методология исследования, ключевые вопросы, на которые отвечает исследование',
											'Практическое задание: разбор U&A анкеты, обсуждение целей и задач исследования',
											'Сегментация потребителей – цели и задачи,методология исследования',
											'Исследование удовлетворенности – цели, задачи и методология исследования, основные показатели для исследования удовлетворенности потребителей'
										]
									},
									{
										header: 'Исследование продукта',
										items: [
											'Concept test (тестирование концепций продукта) – методология качественного и количественного исследований, дизайн и цели исследований, анализ данных и презентация клиенту',
											'Онлайн тестирование концепций продукта – методология, особенности данного типа исследования',
											'Практическое задание: разбор Concept test анкеты, обсуждение целей и задач исследования и разбор презентации для клиента',
											'Тестирование концепций упаковок  – методология качественного и количественного исследований, дизайн и цели исследований, анализ данных и презентация клиенту',
											'Сonsumer Product test  – методология исследования, цели и задачи, анализ результатов',
											'Ценовые исследования – цели и задачи, методы ценовых исследований, анализ данных'
										]
									},
									{
										header: 'Исследование бренда',
										items: [
											'Трекинг здоровья бренда – методы измерения,  значение показателей и их взаимосвязь (репертуар потребления, conversion-retention)',
											'Исследование имиджа бренда – методы измерения, значение показателей и анализ результатов',
											'Тестирование концепций бренда – методология исследования, цели и задачи, обоснование результатов'
										]
									},
									{
										header: 'Исследование рекламы',
										items: [
											'Тестирование концепций рекламы – методология исследования, цели и задачи, методики проведения фокус-группы и количественного исследования, необходимые качества интервьюера',
											'Практическое задание: разбор анкеты по тестированию концепций рекламы',
											'Оценка текущих креативов рекламных роликов – задачи исследования, методология, критерии оценки, формулировка вопросов и анализ результатов'
										]
									},
									{
										header: 'Розничный аудит Nielsen',
										items: [
											'Понятие, цели аудита, значение и возможности для маркетолога и аналитика',
											'5 шагов розничного аудита как метод сбора данных',
											'Типы магазинов Национальной Городской России',
											'Различия торговых точек по основным факторам',
											'Основные параметры в абсолютном выражении и их значение (sales value, sales volume)',
											'Доля рынка в денежном и натуральном выражениях – расчет, значение, анализ',
											'Схема анализа драйверов роста доли рынка (дистрибуция, офф-тейк, цена)',
											'Дистрибуция (взвешенная и нумерическая), ее значение, расчет показателей и эффективность дистрибуции',
											'Практическое задание: расчет взвешенной и нумерической дистрибуции на примере',
											'Уходимость из ТТ (Rate of sales, Average sales per shop seller) – расчет показателей, значение и влияние на долю рынка',
											'Цена и индекс цен – расчет и значение'
										]
									},
								]
							}
						]
					each value in info
						.main-information
							div 
								span.item Длительность курса: 
								| #{value.main.days}
							div
								span.item Даты: 
								br
								each value2 in value.main.dates	
									| #{value2}
									br
							div
								span.item Место проведения: 
								| #{value.main.map}
							div
								span.item Выдаваемый документ:  
								| #{value.main.doc}
							div
								span.item Стоимость: 
								| #{value.main.cost}
							.center__wrapper
								a.button.active Записаться на курс
						.more_information__wrapper
							h2 Информация о курсе
							.tab_wrapper
								section.tabs-links
									a(href='#usefulness')
										i.icon-mortarboard
										| Чем полезен курс
									
									a(href='#for_whom').active
										i.icon-team
										| Для кого курс

									a(href='#program')
										i.icon-list
										| Программа курса

								div#usefulness
									h3 Курс “Документооборот и архив.  Современные технологии автоматизации,управление эффективностью” полезен:
									ul
										each value3 in value.usefulness
											li= value3
								div#for_whom.active
									h3 Курс “Документооборот и архив.  Современные технологии автоматизации,управление эффективностью” полезен, тем кто:
									ul
										each value4 in value.for_whom.items
											li= value4
								div#program
									h3 Программа курса: 
										
									ol
										each value5 in value.program

											li= value5.header
												if(value5.items)
													ul
														each value6 in value5.items
															li= value6
											
									a.more(href='') Подробнее

		.lecturers_block_wrapp
			.container
				.center__wrapper
					h2 Тренеры и преподаватели
				.lecturers_slider__event.slider_block
					-
						var lecturers = [
							{
								specialty: 'Тренер-практик',
								name: 'Коновалов Сергей Владимирович',
								photo: 'images/lecturers/20555c2.jpg',
								about: 'Прошел практические обучение: компания YOMO, под руководством, практикующего «бывшего» вице президента по операционной деятельности компании Тойота, более 12 месяцев.'
							},
							{
								specialty: 'Бизнес-тренер - преподаватель',
								name: 'Муталов Артур Сагадеевич',
								photo: 'images/lecturers/16e8e67a.png',
								about: 'Эксперт-практик  в области разработки бизнес-процессов и автоматизации систем управления информацией и поддержки управленческих решений.'
							},
							{
								specialty: 'Бизнес-тренер, коуч',
								name: 'Александр Петрищев',
								photo: 'images/lecturers/595c0e1c.jpg',
								about: 'Разработчик и методист. Автор более 30 программ по темам: ораторское искусство, мастерство общения, лидерские тренинги, взаимоотношения, конфликтология, командообразование, увеличение продаж, стрессоустойчивость, управленческие тренинги.'
							},
							{
								specialty: 'Тренер-практик',
								name: 'Cосновая Анна Владимировна',
								photo: 'images/lecturers/6fbff1f.jpg',
								about: 'Сертифицированный специалист в области стратегического менеджмента и Learning and knowledge management (управления знаниями) Эксперт-практик в области корпоративного и дистанционного обучения Методист и разработчик учебных модульных программ и учебно-методических комплексов и материалов в ЦДР «Профи-Карьера»'
							},
							{
								specialty: 'Тренер-практик',
								name: 'Терновой Николай',
								photo: 'images/lecturers/29647d76.jpg',
								about: 'Автор и разработчик обучающих программ, бизнес тренер'
							},
							{
								specialty: 'Тренер-практик',
								name: 'Григорьева Татьяна Олеговна',
								photo: 'images/lecturers/5ecee2b.jpg',
								about: 'Кандидат экономических наук, консультант по организационному развитию, генеральный директор "Профи-Карьера", сертифицированный тренер, специалист в области развития и обучения персонала'
							},
						
						]
					each value in lecturers
						div
							div.image_wrapper
								img(src=value.photo)
							.hidden_block
								span.specialty= value.specialty
								h3= value.name
								p= value.about
								a.button Задать вопрос лектору

		.advantages_block_wrapp.dark_section.center__wrapper
			.container
				h2 Вы получаете
				.flex-wrapper
					-
						var advantages = [
							{
								icon: 'notebook',
								h4: 'авторский раздаточный материал'
							},
							{
								icon: 'file',
								h4: 'канцелярские принадлежности'
							},
							{
								icon: 'percent',
								h4: 'система групповых и корпоративных скидок*'
							},
							{
								icon: 'domain-registration',
								h4: 'Возможно проведение семинара в  корпоративном формате и в форме вебинара'
							},
							{
								icon: 'perc',
								h4: 'Предусмотрены скидки для групп от 2-х и более человек'
							},
							
							

						]
					each value in advantages
						div.flex-column__1-5
							i(class='icon-'+ value.icon).icon_big
							h4= value.h4
		
			
	include includes/footer
