extend includes/base
block title
	| title
block vars
	- var bodyClass = 'single'
block content 
	include includes/header
	.wrapper
		.head_block_wrapp.head_home
			.container
				.flex-wrapper.wrapper__head_block
					.head_block
						h1
							span.label Курс повышения квалификации 
							br
							span.name_of_cource Современное делопроизводство для секретаря-помощника руководителя и офис менеджера

						p Программа семинара составлена в соответствии с профессиональным стандартом «Специалист по организационному и документационному обеспечению управления организацией», утвержденным Приказом Минтруда России от 6 мая 2015 года № 276 н .

						
						h3.dates Ближайшие даты: 
							span.current_date 29.05-31.05.2017 
							span.other_dates 7.06-29.06.2017    
							span.other_dates 29.08-31.08.2017
						
						a.button.anchor(href='#main') Подробнее о курсе 
						a.button.active.anchor(href='#price') Ознакомиться с ценами
					.form-block
						form.form_wrapper.form_wrapper_column
							h4 Записаться на курс
							input.form__input(type='text' placeholder='Ваше имя')
							input.form__input(type='tel' placeholder='Ваше телефон')
							input.form__input(type='email' placeholder='Ваше email')
							input.form__submit(type='submit' value='Отправить')
		.information_block_wrapp.grey_section
			.container
				.flex-wrapper
					-
						var info = [
							{
								main: {
									days: '3',
									dates: ['29.05-31.05.2017','27.06-29.06.2017','29.08-31.08.2017'],
									map: 'Москва, м. Новокузнецкая, Садовническая ул., 5',
									doc: 'Сертификат',
									cost: 'от 19855 руб/чел.'
								},
								usefulness: [
									'Ознакомиться с нормативно-правовой базой, регламентирующей порядок разработки и применения профессиональных стандартов',
									'Изучить структуру профессиональных стандартов',
									'Уметь грамотно проводить оценку квалификации персонала на основе требований профессионального стандарта',
									'Научиться выстраивать систему обучения персонала в соответствии с профессиональными стандартами',
									'Изучить требования к кадровому делопроизводству в связи с профстандартами и получить алгоритм внедрения изменений в локальные нормативные акты',
									'Овладеть навыками составления должностных инструкций на основе профстандарта',
									'Получить навыки использования профстандарта при подборе персонала'
								],
								for_whom: {
									name: '“Документооборот и архив.  Современные технологии автоматизации,управление эффективностью”',
									items: [
										'Руководитель или специалист архивной службы',
										'Руководитель или специалист служб ДОУ',
										'Работник канцелярии, архива, секретариата',
										'Архивариус',
										'Помощник руководителя или ассистент отдела, отвечающий за организацию и ведение документооборота',
										'Просто заинтересованный специалист'
									]
								},
								program: [
									{
										header: 'Маркетинговые исследования -  основные термины и показатели',
										items: [
											'Маркетинговые исследования – понятие, цели, задачи',
											'Процесс маркетинговых исследований',
											'Первичные и вторичные данные',
											'Правильная постановка задач при формировании брифа на разработку маркетингового исследования',
											'Практическое задание: разбор брифа на маркетинговое исследование'
										]
									},
									{
										header: 'Методы маркетинговых исследований'
										
									},
									{
										header: 'Качественные методы исследований',
										items: [
											'Фокус-группа – особенности метода, преимущества и недостатки, правила проведения исследования, компетенции интервьюера, методы получения информации на фокус-группах',
											'Практическое задание: как правильно провести фокус-группу, обсуждение Discussion guide',
											'Диада и глубинное интервью - особенности, преимущества и недостатки'
										]
									},
									{
										header: 'Количественные методы исследования',
										items: [
											'Опрос и онлайн-опрос – особенности методов, преимущества и недостатки, правила проведения исследования, компетенции интервьюера',
											'Практическое задание: как правильно провести опрос, обсуждение брифа и анкеты',
											'Наблюдение и эксперимент - особенности, преимущества и недостатки',
											'Холл-тест: особенности проведения, задачи, способ проведения'
										]
									},
									{
										header: 'Исследование потребителей',
										items: [
											'Usage and Attitude (U&A) – цели, задачи и результаты исследования, методология исследования, ключевые вопросы, на которые отвечает исследование',
											'Практическое задание: разбор U&A анкеты, обсуждение целей и задач исследования',
											'Сегментация потребителей – цели и задачи,методология исследования',
											'Исследование удовлетворенности – цели, задачи и методология исследования, основные показатели для исследования удовлетворенности потребителей'
										]
									},
									{
										header: 'Исследование продукта',
										items: [
											'Concept test (тестирование концепций продукта) – методология качественного и количественного исследований, дизайн и цели исследований, анализ данных и презентация клиенту',
											'Онлайн тестирование концепций продукта – методология, особенности данного типа исследования',
											'Практическое задание: разбор Concept test анкеты, обсуждение целей и задач исследования и разбор презентации для клиента',
											'Тестирование концепций упаковок  – методология качественного и количественного исследований, дизайн и цели исследований, анализ данных и презентация клиенту',
											'Сonsumer Product test  – методология исследования, цели и задачи, анализ результатов',
											'Ценовые исследования – цели и задачи, методы ценовых исследований, анализ данных'
										]
									},
									{
										header: 'Исследование бренда',
										items: [
											'Трекинг здоровья бренда – методы измерения,  значение показателей и их взаимосвязь (репертуар потребления, conversion-retention)',
											'Исследование имиджа бренда – методы измерения, значение показателей и анализ результатов',
											'Тестирование концепций бренда – методология исследования, цели и задачи, обоснование результатов'
										]
									},
									{
										header: 'Исследование рекламы',
										items: [
											'Тестирование концепций рекламы – методология исследования, цели и задачи, методики проведения фокус-группы и количественного исследования, необходимые качества интервьюера',
											'Практическое задание: разбор анкеты по тестированию концепций рекламы',
											'Оценка текущих креативов рекламных роликов – задачи исследования, методология, критерии оценки, формулировка вопросов и анализ результатов'
										]
									},
									{
										header: 'Розничный аудит Nielsen',
										items: [
											'Понятие, цели аудита, значение и возможности для маркетолога и аналитика',
											'5 шагов розничного аудита как метод сбора данных',
											'Типы магазинов Национальной Городской России',
											'Различия торговых точек по основным факторам',
											'Основные параметры в абсолютном выражении и их значение (sales value, sales volume)',
											'Доля рынка в денежном и натуральном выражениях – расчет, значение, анализ',
											'Схема анализа драйверов роста доли рынка (дистрибуция, офф-тейк, цена)',
											'Дистрибуция (взвешенная и нумерическая), ее значение, расчет показателей и эффективность дистрибуции',
											'Практическое задание: расчет взвешенной и нумерической дистрибуции на примере',
											'Уходимость из ТТ (Rate of sales, Average sales per shop seller) – расчет показателей, значение и влияние на долю рынка',
											'Цена и индекс цен – расчет и значение'
										]
									},
								]
							}
						]
					each value in info
						#main
							.main-information
								div 
									span.item Длительность курса: 
									span.num-days #{value.main.days}
									|  дня
								div
									span.item Даты: 
									br
									each value2 in value.main.dates	
										| #{value2}
										br
								div
									span.item Место проведения: 
									| #{value.main.map}
								div
									span.item Выдаваемый документ:  
									| #{value.main.doc}
								div
									span.item Стоимость: 
									| #{value.main.cost}
								.center__wrapper
									a.button.active.anchor(href='#price') Записаться на курс
						.more_information__wrapper
							h2 Информация о курсе
							.tab_wrapper
								section.tabs-links
									a(href='#usefulness')
										i.icon-mortarboard
										| Чем полезен курс
									
									a(href='#for_whom').active
										i.icon-team
										| Для кого курс

									a(href='#program')
										i.icon-list
										| Программа курса

								div#usefulness
									h3 Курс “Документооборот и архив.  Современные технологии автоматизации,управление эффективностью” полезен:
									ul
										each value3 in value.usefulness
											li= value3
								div#for_whom.active
									h3 Курс “Документооборот и архив.  Современные технологии автоматизации,управление эффективностью” полезен, тем кто:
									ul
										each value4 in value.for_whom.items
											li= value4
								div#program
									h3 Программа курса: 
										
									ol
										each value5 in value.program

											li= value5.header
												if(value5.items)
													ul
														each value6 in value5.items
															li= value6
											
									a.more(href='') Подробнее

		.lecturers_block_wrapp
			.container
				.center__wrapper
					h2 Тренеры и преподаватели
				.lecturers_slider__event.slider_block
					-
						var lecturers = [
							{
								specialty: 'Тренер-практик',
								name: 'Коновалов Сергей Владимирович',
								photo: 'images/lecturers/20555c2.jpg',
								about: 'Прошел практические обучение: компания YOMO, под руководством, практикующего «бывшего» вице президента по операционной деятельности компании Тойота, более 12 месяцев.'
							},
							{
								specialty: 'Бизнес-тренер - преподаватель',
								name: 'Муталов Артур Сагадеевич',
								photo: 'images/lecturers/16e8e67a.png',
								about: 'Эксперт-практик  в области разработки бизнес-процессов и автоматизации систем управления информацией и поддержки управленческих решений.'
							},
							{
								specialty: 'Бизнес-тренер, коуч',
								name: 'Александр Петрищев',
								photo: 'images/lecturers/595c0e1c.jpg',
								about: 'Разработчик и методист. Автор более 30 программ по темам: ораторское искусство, мастерство общения, лидерские тренинги, взаимоотношения, конфликтология, командообразование, увеличение продаж, стрессоустойчивость, управленческие тренинги.'
							},
							{
								specialty: 'Тренер-практик',
								name: 'Cосновая Анна Владимировна',
								photo: 'images/lecturers/6fbff1f.jpg',
								about: 'Сертифицированный специалист в области стратегического менеджмента и Learning and knowledge management (управления знаниями) Эксперт-практик в области корпоративного и дистанционного обучения Методист и разработчик учебных модульных программ и учебно-методических комплексов и материалов в ЦДР «Профи-Карьера»'
							},
							{
								specialty: 'Тренер-практик',
								name: 'Терновой Николай',
								photo: 'images/lecturers/29647d76.jpg',
								about: 'Автор и разработчик обучающих программ, бизнес тренер'
							},
							{
								specialty: 'Тренер-практик',
								name: 'Григорьева Татьяна Олеговна',
								photo: 'images/lecturers/5ecee2b.jpg',
								about: 'Кандидат экономических наук, консультант по организационному развитию, генеральный директор "Профи-Карьера", сертифицированный тренер, специалист в области развития и обучения персонала'
							},
						
						]
					each value in lecturers
						div
							div.image_wrapper
								img(src=value.photo)
							.hidden_block
								span.specialty= value.specialty
								h3= value.name
								p= value.about
								a.button Задать вопрос лектору

		.advantages_block_wrapp.dark_section.center__wrapper
			.container
				h2 Вы получаете
				.flex-wrapper
					-
						var advantages = [
							{
								icon: 'notebook',
								h4: 'авторский раздаточный материал'
							},
							{
								icon: 'file',
								h4: 'канцелярские принадлежности'
							},
							{
								icon: 'percent',
								h4: 'система групповых и корпоративных скидок*'
							},
							{
								icon: 'domain-registration',
								h4: 'Возможно проведение семинара в  корпоративном формате и в форме вебинара'
							},
							{
								icon: 'perc',
								h4: 'Предусмотрены скидки для групп от 2-х и более человек'
							},
							
							

						]
					each value in advantages
						div.flex-column__1-5
							i(class='icon-'+ value.icon).icon_big
							h4= value.h4
		.price_block_wrapp#price
			.container
				.center__wrapper
					h2 Расчет Вашей цены на обучение
				form.form_wrapper
					.flex-wrapper
						.calc_block
							
								h4 Количество участников:
								.flex-wrapper
									.quantity_people
										input.quantity_people__size(hidden, name='quantity_people' value=2)
										.quantity_people__sizevalue
											div 1
											div 2
											div 3
											div 4
											div 5
											div 6
											div 7
											div 8
											div 9
											div 10
											div 11
										.quantity_people__range
										
									.quantity_people_num
										| Больше? Выберите 
										input(type='number', min=1,  value="12" name='quantity_people_more').form__input_number
								h4 Дата проведения:
								.flex-wrapper
									div
										input(type='radio', id='date1', name='date' value='22.10.2017 - 25.10.2017' checked).form__input_radio
										label.form__label_radio(for='date1') 22.10.2017 - 25.10.2017
									div
										input(type='radio', id='date2', name='date' value='26.11.2017 - 29.11.2017').form__input_radio
										label.form__label_radio(for='date2') 26.11.2017 - 29.11.2017
									div
										input(type='radio', id='date3', name='date' value='02.12.2017 - 05.12.2017').form__input_radio
										label.form__label_radio(for='date3') 02.12.2017 - 05.12.2017

								input(type='checkbox', id='payment', name='payment' value='Скидка при ранней оплате +10%').form__input_checkbox
								label.form__label_checkbox(for='payment') Оплата до 
									span.time_for_sale 
									span.akcent-color  (скидка 10% по предоплате)
								
									
								h4 Дополнительно:
								
								input(type='checkbox', id='dinner', name='dinner' value='+500 руб/чел. за обед').form__input_checkbox

								label.form__label_checkbox(for='dinner') Нужны обеды! 
									span.akcent-color + 500 руб. / обед


								input(type='checkbox', id='advanced_training', name='advanced_training' value=' формат повышения квалификации +3500 руб.').form__input_checkbox

								label.form__label_checkbox(for='advanced_training') Курс в формате повышения квалификации
									span.akcent-color + 3500 руб.
									span.about_item По окончании курса вы получаете удостоверение о повышении квалификации
								

						.price_block
							.old_price
								.old_price__title Базовая цена =
								.old_price__rub 10000 руб
							.new_price
								.new_price__title Итоговая цена =
								.new_price__rub 10000 руб

							.price_block__items
								h5 В стоимость входит:
								ul
									li Участие в курсе	
									li Пакет участника: блокнот, ручка, рабочая тетрадь
									li Именной сертификат участника
									li Кофе-паузы в течение обучения
									li Материалы и презентации курса в электронном виде
								.center__wrapper
									a.button.active.big.open_modal(href='#form_modal') Записаться на курс
						.form_modal.modal#form_modal
							.modal-content
								.close &times;
								h3 
									| Заполните форму для регистрации на курс 
									span.name_of_cource_span
								.flex-wrapper
									.flex-column__1-3
										.form_block
											h4 Формат обучения:

											div
												input(type='radio', id='typeOfCourse1', name='typeOfCourse' value='Открытый' checked).toggleItems.form__input_radio
												label.form__label_radio(for='typeOfCourse1') Открытый
											div
												input(type='radio', id='typeOfCourse2', name='typeOfCourse' value='Корпоративный' ).form__input_radio.toggleItems
												label.form__label_radio(for='typeOfCourse2') Корпоративный
										.form_block
											.open_block.active.typeOfCourse1.status1.status2
												h4 Статус:

												div
													input(type='radio', id='status1', name='status' value='Юридическое лицо' checked).toggleItems.form__input_radio
													label.form__label_radio(for='status1') Юридическое лицо
												div
													input(type='radio', id='status2', name='status' value='Физическое лицо' ).form__input_radio.toggleItems
													label.form__label_radio(for='status2') Физическое лицо
									.flex-column__1-3
										div
											h4 Контактная информация:
											.open_block.typeOfCourse1.typeOfCourse2.status1.active
												input.form__input(type='text' placeholder='Название компании')
											.open_block.typeOfCourse1.status1.active
												strong Бухгалтерские реквизиты:
												textarea.form__input(placeholder='для оформления договора и счёта на обучение' rows="5")
											input.form__input(type='text' placeholder='Контактное лицо')
											input.form__input(type='text' placeholder='Контактный телефон')
											input.form__input(type='text' placeholder='Email')
									.flex-column__1-3.flex-wrapper.flex-content-column
										.open_block.typeOfCourse1.status1.status2.active
											h4 ФИО участников:
											textarea.form__input(placeholder='Введите через запятую ФИО участников' rows="5")
										.open_block.typeOfCourse2
											h4 Ваши пожелания
											textarea.form__input(placeholder='пожелания к программе, место проведения, число участников и пр.' rows="5")
										div.info-block
											p Количество человек: 
												span.quantity_people_span 1
											p Количество дней: 
												span.quantity_days
											p Дата проведения: 
												span.quantity_days_span
											h4 Стоимость: 
												span.price_span 
								br
								div.center__wrapper
									p.small *При отправлении заявки Вы подтверждаете согласие на обработку своих персональных данных. Мы ценим наших клиентов и никогда не занимаемся рассылкой спама. Ваши данные хранятся только у нас и не передаются другим компаниям.	
									input.form__submit(type='submit' value='Отправить')



	include includes/footer
